h1 {
    color: rgb(236, 98, 43);
}

h2 {
    color: rgb(255, 187, 0);
}

body {
    background-color: #010516;
    color: rgb(255, 242, 242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    border-bottom: 1px solid grey;
}

footer {
    border-top: 1px solid grey;
}

#nome-usuário {
    font-weight: bold;
}

.texto-inglês {
    font-style: italic;
}